body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://i.redd.it/7vvhf0lpqd8b1.png");
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
    background-size: cover;
    background-attachment: scroll;
    background-color: #ccc;
}
header {
    color: white;
    text-align: center;
    padding: 50px 20px;
}
header h1 {
    margin: 0;
    font-size: 2.5em;
}
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
section h2 {
    background: linear-gradient(180deg, #080808, #1a1a1a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.trabalhos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.trabalho {
    width: 390px;
    height: 250px;
    background: #111;
    border-radius: 20px;
    box-shadow: 0 0 40px 10px rgba(255, 248, 185, 0.4); 
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-size: 1.2em;
    position: relative;
}
.trabalho a {
    color: #6d04e4;
    text-decoration: none;
}
.trabalho a:hover {
    text-decoration: underline;
}
.trabalho2 {
    width: 1000px;
    height: 200px;
    background: #111;
    border-radius: 20px;
    box-shadow: 0 0 40px 10px rgba(255, 248, 185, 0.4); 
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-size: 1.2em;
    position: relative;
}
/* texto animado*/
.linha-animada {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: white;
    flex-wrap: wrap;
}
.words {
    position: relative;
    height: 1.35em;
    overflow: hidden;
    display: inline-block;
}
.words::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.2) 20%,
        rgba(0,0,0,0.2) 80%,
        rgba(0,0,0,0) 100%
    );
}
.word {
    display: block;
    height: 1.35em;
    line-height: 1.35em;
    padding-left: 4px;
    color: #956afa;
    animation: linha-spin 4s infinite;
}
@keyframes linha-spin {
    10% { transform: translateY(-102%); }
    25% { transform: translateY(-100%); }
    35% { transform: translateY(-202%); }
    50% { transform: translateY(-200%); }
    60% { transform: translateY(-302%); }
    75% { transform: translateY(-300%); }
    85% { transform: translateY(-402%); }
    100% { transform: translateY(-400%); }
}
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}